.nav {
	background-color: rgb(1, 9, 7);
}
nav a {
	padding-right: 15px; /* Adjust the value as needed */
	padding-left: 15px; /* Adjust the value as needed */
	color: rgb(226, 209, 13);
	text-decoration: none;
	font-size: 23px;
}
