.nav {
	background-color: white;
}
nav a {
	padding-right: 15px; /* Adjust the value as needed */
	padding-left: 15px; /* Adjust the value as needed */
	color: #009EFF;
	text-decoration: none;
	font-size: 18px;
	font-weight: 400;
}
