img{
  display: block;
  margin: 0 auto;
  height: 300px;
}
.container {
  background-image: url("../resource/image/coctail board.jpg");
background-size: cover;
  background-position: center;
  height: 105vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  display: flex;
}
.description{
  max-width: 500px;
}




