img{
  display: block;
  margin: 0 auto;
  height: 300px;
}
.container {
  background-image: url("https://img.freepik.com/premium-vector/cocktails-menu-concept_98402-362.jpg?w=826");
background-size: cover;
  background-position: center;
  height: 95vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  display: flex;
}




