img {
	display: block;
	margin: 0 auto;
	height: 300px;
}
.container {
	background-image: url("../resource/image/coctail board.jpg");
	background-size: cover;
	background-position: center;
	height: 170vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	display: flex;
	font-size: 10px;
}
.description {
	max-width: 400px;
}
.container .input {
	margin-top: -1%;
	text-align: center;
	width: 70vw !important;
	border-radius: 9rem !important;
}
